body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: wheat;
}

header {
    background-image: url(../Sources/dogs.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    margin-top: auto;
}
.st {
    margin: auto;
}
.nd {
    margin-top: 1vh;
}