body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: wheat;
}

header {
    background-image: url(../Sources/dobermann_sources/dobermann2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(212, 20, 20);
}

footer {
    margin-top: auto;
}

.pic {
    max-width: 400px;
    width: 100%;
    float: right;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
section {
    margin-bottom: 1vh;
}
p {
    padding-right: 1vh;
}